<!-- [SECOND BLOCK] BEGIN -->
<div class="container">
  <div class="row">
    <div class="twelwe columns title__column">
      <h3>Hey, I'm Mykola Gogol</h3>
      <p>Web Developer</p>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="twelwe columns title__column">
      <h1>I DESIGN <span id="span__ampersant">&amp;</span> DEVELOP <span id="span__website">WEBSITES</span></h1>
    </div>
  </div>
</div>
<!-- Computer Image -->
<div class="container">
  <div class="row">
    <div class="twelwe columns image__column">
      <!--<img src=image_url('computer_min.png') alt="Computer Image" class="u-max-full-width">-->
      <%= image_tag 'computer_min.png', alt: 'Computer Image', class: 'u-max-full-width' %>
    </div>
  </div>
</div>
<!-- [SECOND BLOCK] END -->

<!-- [THIRD] BLOCK BEGIN -->
<div class="wrapper">
  <div class="container">
    <div class="row third__block">
      <div class="twelwe columns quote__column">
        <blockquote>Websites promote you 24/7: No employee will do that.</blockquote>
        <hr>
      </div>
    </div>
    <!-- [THIRD] BLOCK END -->
    <!-- [FOUR BLOCK] BEGIN -->
    <div class="row">
      <div class="six columns about-me__column">
        <p class="main_title">About Me</p>
        <hr>
        <p><b>Be Brave. Be Responsible.</b> <br> Always go up without stopping. That's why I'm looking for challenging projects and opportunities to help people achieve their goals. <br><br> <b>It's About Quality</b> <br> If you value quality
          and elegant websites, delivered quickly, from a person that understands the value of your goals then I'm the person you should be working with! <br><br> <b> What About Experience?</b> <br> From your perspective, you want a mix
          of experience plus competitive pricing - and I understand that. But, you also get what you pay for, so if my rates don't meet your needs, let's talk further and discuss options that will work for both of us.
      </div>
      <div class="six columns portfolio__column">
        <p class="main_title">Check My Portfolio</p>
        <hr>
        <div class="row">
          <% @projects.each do |project| %><%=  %>
              <div class="portfolio__item"><%= link_to image_tag(project.image.url(:thumb)), project %></div>
          <% end  %>
        </div>
      </div>
    </div>
    <!-- [FOUR BLOCK] END -->
  </div>
</div>
<!-- [CONTACT ME] BEGIN -->
<div class="container">
  <div class="row">
    <div class="twelve columns contact_me">
      <p class="main_title">Say Hello!</p>
      <p class="contact_me__description">I’m always available for awesome projects, get in touch!</p>
      <hr>
    </div>
  </div>
  <form action="">
    <div class="row">
      <div class="twelve columns">
        <input type="text" class="center_block contact_input" placeholder="Name" id="name__Input">
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <input type="email" class="center_block contact_input" placeholder="Email" id="email__Input">
      </div>
    </div>
    <div class="row">
      <div class="twelve columns contact_input_column">
        <textarea class="center_block contact_input" placeholder="Hi Mykola …" id="message__Input"></textarea>
      </div>
    </div>
    <div class="row row__buttons">
      <div class="three columns">
        <p></p>
      </div>
      <div class="four columns social_column">
        <a href="#" class="social_link_envelope"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/m.gogol.dev" class="social_link_facebook"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
      </div>
      <div class="three columns success_column">
        <input class="button-primary u-full-width" id="btn__sumbit" type="submit" value="Send">
      </div>
    </div>
  </form>
</div>
<!-- [CONTACT ME] END -->