<div class="container">
  <div class="row blank_wrapper">
    <div class="twelve columns vertical_align_center">
      <h1>Thanks for your message!</h1>
      <p class="text_center">I'll get back to you soon.</p>
    </div>
  </div>
</div>
