.project__description {
  padding-top: 25px;
  color: #333;
  line-height: 27px;
}
.project__title {
  margin: 25px 0;
  font-weight: 700;
  color: #575c6f;
}
.edit__buttons_column {
  a {
    text-align: right;
  }
}
